@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background: url("./images/bg.jpg") no-repeat top left;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
    height: 100%;
}

form .MuiPaper-root {
    background: none;
}

form .MuiTypography-body1 {
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
}

form .MuiTypography-body2 {
    font-family: "Montserrat", sans-serif;
}

form .MuiStepConnector-lineVertical {
    min-height: 0;
}

form .error {
    margin: 20px 0 0 30px;
    color: black;
}

form .MuiButton-containedPrimary,
form .MuiButton-containedPrimary:hover {
    background-color: #d9c499;
    font-family: "Montserrat", sans-serif;
    color: #000;
}

form .MuiStepIcon-root.MuiStepIcon-active,
form .MuiStepIcon-root.MuiStepIcon-completed {
    color: #d9c499;
    font-family: "Montserrat", sans-serif;
}

form .MuiStepIcon-text {
    fill: #000;
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
}

.credits {
    margin-left: 20px;
}

.credits li:first-child {
    list-style-type: none;
}

.faction {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
